<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APIKeys</key>
	<string>IEfGWhrH90YBMK7dzT4ekpwVd1CPqo7OmCo3oOKT
IEfGWhrH90YBMK7dzT4ekpwVd1CPqo7OmCo3oOKT
</string>
	<key>New item</key>
	<string></string>
</dict>
</plist>
